<a href="https://colab.research.google.com/github/onativo/PythonFundamentos/blob/master/exerc%C3%ADcios_fun%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercício 1**

In [12]:
def pares_1_20():
  i = 1
  for i in range (22):
    if i % 2 == 0:
      print(i)
#def listaPar():
#   for i in range(2, 21, 2)
#     print(i)

In [13]:
pares_1_20()

0
2
4
6
8
10
12
14
16
18
20

**Exercício 2**

In [70]:
def func_str(text):
  print(text.upper())

In [71]:
func_str('texto teste')

TEXTO TESTE

**Exercício 3**

In [78]:
def func_lista(lista):
  print(lista.append(5))
  print(lista.append(6))

In [80]:
func_lista()

NameError: ignored

**Exercício 4**

In [84]:
def arg_form(arg1, *argx):
  print(arg1)
  for i in argx:
    print(i)
  return

In [87]:
arg_form(23, 15, 'a', 2.8)

23
15
a
2.8

**Exercício 5**

In [61]:
soma = lambda a,b:a+b

In [63]:
soma(5,11)

16

**Exercício 7**

In [90]:
celsius = [39.2, 36.5, 37.3, 37.8]
fahrenheit = map(lambda x: (float(9)/5)*x + 32, celsius)
print (list(fahrenheit))

[102.56, 97.7, 99.14, 100.03999999999999]

**Exercício 8**

In [ ]:
dic = {'k1': 'Natal', 'k2': 'Recife'}
dir(dic)

**Exercício 9**

In [92]:
import pandas as pd
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

**Exercício 10**

In [94]:
import pandas as pd #importa os pandas
file_name = 'binary.csv' #carrega o arquivo

def arqv(file_name): #define função que "chama" o arquivo carregado
  df = pd.read_csv(file_name) #variável df recebe o arquivo carregado
  return df.describe() #retorna a descrição do arquivo df

In [95]:
arqv(file_name)

          admit         gre       gpa      rank
count  5.000000    5.000000  5.000000  5.000000
mean   0.600000  616.000000  3.480000  3.000000
std    0.547723  185.148589  0.421307  1.224745
min    0.000000  380.000000  2.930000  1.000000
25%    0.000000  520.000000  3.190000  3.000000
50%    1.000000  640.000000  3.610000  3.000000
75%    1.000000  660.000000  3.670000  4.000000
max    1.000000  880.000000  4.000000  4.000000