<a href="https://colab.research.google.com/github/onativo/PythonFundamentos/blob/master/exerc%C3%ADcios_metodos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercício 1** - Crie uma lista de 3 elementos e calcule a terceira potência de **cada elemento.

In [2]:
lista = [3,4,5]
lista1 = [x**3 for x in lista]
print(lista1)

[27, 64, 125]

**Exercício 2** - Reescreva o código abaixo, usando a função map(). O resultado final deve ser o mesmo!

palavras = 'A Data Science Academy oferce os melhores cursos de análise de dados do Brasil'.split()

resultado = [[w.upper(), w.lower(), len(w)] for w in palavras]

for i in resultado:

    print (i)

In [3]:
palavras = 'A Data Science Academy oferce os melhores cursos de análise de dados do Brasil'.split()

resultado = map(lambda i: [i.upper(), i.lower(), len(i)], palavras)
for a in resultado:
  print(a)

['A', 'a', 1]
['DATA', 'data', 4]
['SCIENCE', 'science', 7]
['ACADEMY', 'academy', 7]
['OFERCE', 'oferce', 6]
['OS', 'os', 2]
['MELHORES', 'melhores', 8]
['CURSOS', 'cursos', 6]
['DE', 'de', 2]
['ANÁLISE', 'análise', 7]
['DE', 'de', 2]
['DADOS', 'dados', 5]
['DO', 'do', 2]
['BRASIL', 'brasil', 6]

**Exercício 3** - Calcule a matriz transposta da matriz abaixo.

In [4]:
matrix = [[1,2,4],[3,4,7],[5,6,9],[7,8,1]]

transp = [[row[i] for row in matrix] for i in range(3)]
print(transp)

[[1, 3, 5, 7], [2, 4, 6, 8], [4, 7, 9, 1]]

**Exercício 4 -** Crie duas funções, uma para elevar um número ao quadrado e outra para elevar ao cubo. 
Aplique as duas funções aos elementos da lista abaixo. 
Obs: as duas funções devem ser aplicadas simultaneamente.

In [11]:
lista = [0,1,2,3,4]

def square (x): #função de raiz quadrada
  return x**2
def cube(x): #funcao de raiz cubica
  return x**3
funcs = [square, cube] #armazena os resultados

for i in lista: #para cada elemento i na lista 'lista'
  valor = map(lambda x: x(i), funcs) #atribui à valor o resultado da função
  print(list(valor))

[0, 0]
[1, 1]
[4, 8]
[9, 27]
[16, 64]

**Exercício 5** - Abaixo você encontra duas listas. Faça com que cada elemento da listaA seja elevado 
ao elemento correspondente na listaB.

In [5]:
listaA = [2, 3, 4]
listaB = [10, 11, 12]
list(map(pow, listaA, listaB)) #usa o pow que significa potência para elevar o elemento 1 da lista um com o elemento 1 da lista 2 e assim por diante

[1024, 177147, 16777216]

**Exercício 6 -** Considerando o range de valores abaixo, use a função filter() para retornar apenas os valores negativos.
range(-5, 5)

In [6]:
range(-5,5)
list(filter((lambda x: x < 0), range(-5,5)))

[-5, -4, -3, -2, -1]

**Exercício 7 -** Usando a função filter(), encontre os valores que são comuns às duas listas abaixo.

In [7]:
a = [1,2,3,5,7,9,1]
b = [2,3,5,6,7,8,1]

print(list(filter(lambda x: x in a, b)))

[2, 3, 5, 7, 1]

**Exercício 8 -** Considere o código abaixo. Obtenha o mesmo resultado usando o pacote time.

In [8]:
import datetime
print (datetime.datetime.now().strftime("%d/%m/%Y %H:%M"))

import time
print (time.strftime("%d/%m/%Y %H:%M"))

05/10/2021 01:28
05/10/2021 01:28

**Exercício 9 -** Considere os dois dicionários abaixo. 
Crie um terceiro dicionário com as chaves do dicionário 1 e os valores do dicionário 2.

In [9]:
dict1 = {'a':1,'b':2}
dict2 = {'c':4,'d':5}

def trocaValores(d1, d2):
  dicTemp = {}

  for d1key, d2val in zip(d1,d2.values()):
    dicTemp[d1key] = d2val

    return dicTemp

dict3 = trocaValores(dict1,dict2)
print(dict3)

{'a': 4}

**Exercício 10 -** Considere a lista abaixo e retorne apenas os elementos cujo índice for maior que 5.

In [10]:
lista = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

for indice, valor in enumerate(lista):
  if indice < 5:
    continue
  else:
    print(valor)

f
g
h